.container{
    display: flex;
    justify-content: space-between;
}

.container input:focus {
    outline: none;
    border-color: #9c8700eb;
    transition-delay: 0.2s ;
}
  
.container .border {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    transition: width 0.5s ease-in-out;
}
/* --------------------------------- */

.bar{
    position: relative;
    margin-top: 2.3em;
    margin-bottom: 0.3em;
    margin-right: 1.9em;
    padding: 0.8em;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    border: 2px solid #909090;
    border-bottom: 2px solid #909090;
    border-radius: 15px;
    outline: black;
    box-shadow: 0px 2px 9px black;
}
/* --------------------------------- */

.search{
    width: -10em;
    top: -3.1em;
    position: relative;
    margin-top: -19.3em;
    border-radius: 5em;
    margin-bottom: 1.5em;
    margin-left: 15.9em;
    margin-right: 0.2em;
    border: none;
    background-color: transparent;
    color: rgb(255, 83, 21);
  }
  
  .search:hover {
    color: rgba(246, 62, 6, 0.583);
  } 