.container{
    justify-content: space-around;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    margin: 1rem;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    
    grid-column-gap: .5rem;
    grid-row-gap: 2rem;
    justify-items: center;
  }
/* ----------------------------------------------------------- */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
/* ----------------------------------------------------------- */

button:disabled{
 cursor: no-drop;
}