/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
/* ----------------------------------------------------------- */


.topContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.topContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/fondoCreate.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) brightness(0.35);
}
/* ----------------------------------------------------------- */
.container {
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative; 
  z-index: 1;
  width: 55em;
  height: 30em;
  left: 2em;
  border: 2px solid #e6b633c1;
  padding: 2em; 
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.container-row label {
  width: calc(50% - 20px); 
}

.container-row input {
  width: calc(50% - 20px); 
}

.container-row textarea {
  width: calc(50% - 20px);
}

.container input {
  width: 20em;
  padding: 10px ;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.container textarea {
  overflow: hidden;
  width: 20em;
  padding: 5px ;
  border-radius: 4px;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  font-family: 'Poppins', sans-serif;
  resize:none;
  text-align: center;
}

.container checkbox {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* ----------------------------------------------------------- */
input:focus {
  outline: none;
  border-color: #edfe03ef;
}

/* ----------------------------------------------------------- */
.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkboxItem {
  flex-basis: calc(40% - 95px);
  top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.checkboxItem input[type="checkbox"] {
  margin-right: -9.5em;
}
/* ----------------------------------------------------------- */

.container button{
  width: 10em;
  margin-top: 1em;
  padding: 8px;
  border: 2px solid #909090;
  border-radius: 3em;
  border-bottom: 2px solid #909090;
  box-shadow: 0px 2px 9px black;
  outline: black;
  color: black;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.container button:hover {
  background-color: #ccb636ef;
  color:  rgba(255, 255, 255, 0.883);
  border: 2px solid #ffffffce;
  border-bottom: 2px solid #ffffffce;
  transition: 0.6s;
}

.container button:disabled{
  cursor: no-drop;
}

.container button:active{
  transform: translateY(4px);
}
/* ----------------------------------------------------------- */
/* .errors {
  margin-top: 1em;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */

.errors-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1em;
}

.errors-container p {
  color: red;
  margin-bottom: 0.5em;
}
/* ----------------------------------------------------------- */